*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to left top, #24bdb4, #00a1ba, #0083bc, #0062b1, #1f3d95);
}
.head{
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    text-decoration: underline;
}

#pokemonList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    display: flex;
    justify-content: center;
    
}

.container{
    background-color: aqua;
    border: 2px black solid;
    
}
.container-within{
position: relative;
width: 100%;
height: 100%;
transition: transform 0.8s;
text-align: center;
transform-style: preserve-3d;
}
.container:hover .container-within{
    transform: rotateX(180deg);
}
.front-container,.back-container{
    
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
  
}
.front-container{
    position: absolute;
    background-color: aqua;
    color: black;
    
}
.back-container{

    background-color: aqua;
    color: black;
    transform: rotateX(180deg);
}